/* PAGE */
.create-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  color: #c9d1d9;
}

/* TITLE */
.create-container h2 {
  color: #f0f6fc;
  margin-bottom: 5px;
}

.sub-text {
  color: #8b949e;
  margin-bottom: 25px;
}

/* FORM */
.create-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* INPUT */
.create-form input {
  padding: 10px;
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  color: white;
}

.create-form input:focus {
  border-color: #58a6ff;
  outline: none;
}

/* LABEL */
.create-form label {
  font-size: 14px;
  color: #c9d1d9;
}

/* RADIO */
.radio-group {
  display: flex;
  gap: 20px;
}

/* BUTTON */
.create-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #238636;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #2ea043;
}

.checkbox-group{
    margin:20px 0;
}

.checkbox-group label{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    font-size:16px;
}

.checkbox-group input{
    width:18px;
    height:18px;
}